<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Movies App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-light bg-light justify-content-between">
		<a class="navbar-brand">MovieApp</a>
		<form class="form-inline" th:attr="action=@{/search}"  method= "GET">
			<input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</nav>
	<div class="card-group">
		<div class="card" style="flex: 0 0 18%; margin:30px " th:each="movie: ${movieResult}">
			<img class="card-img-top" th:src="${movie.poster_path}" alt="Card image cap">
			<div class="card-body ">
				<h5 class="card-title" th:text="${movie.original_title}">Card title</h5>
				<!--<p class="card-text" th:text="${movie.overview}">Some quick example text to build on the card title and
					make up the bulk of the card's
					content.</p> -->
				<span class="badge badge-success" th:text=${movie.vote_average}></span>
			</div>
		</div>
	</div>
</body>

</html>